<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lateral Movement Detection</title>
</head>
<body>
    <form method="POST" action="/">
        tasklist<input type="checkbox" value="1" name="mycheckbox">
        ver<input type="checkbox" value="2" name="mycheckbox">
        ipconfig<input type="checkbox" value="3" name="mycheckbox">
        net_time<input type="checkbox" value="4" name="mycheckbox">
        cd<input type="checkbox" value="5" name="mycheckbox">
        systeminfo<input type="checkbox" value="6" name="mycheckbox">
        netstat<input type="checkbox" value="7" name="mycheckbox">
        whoami<input type="checkbox" value="8" name="mycheckbox">
        nbtstat<input type="checkbox" value="9" name="mycheckbox">
        net_start<input type="checkbox" value="10" name="mycheckbox">
        set<input type="checkbox" value="11" name="mycheckbox">
        qprocess<input type="checkbox" value="12" name="mycheckbox">
        nslookup<input type="checkbox" value="13" name="mycheckbox">
        fsutil<input type="checkbox" value="14" name="mycheckbox">
        net_view<input type="checkbox" value="15" name="mycheckbox">
        type<input type="checkbox" value="16" name="mycheckbox">
        net_use<input type="checkbox" value="17" name="mycheckbox">
        echo<input type="checkbox" value="18" name="mycheckbox">
        net_user<input type="checkbox" value="19" name="mycheckbox">
        net_group<input type="checkbox" value="20" name="mycheckbox">
        net_localgroup<input type="checkbox" value="21" name="mycheckbox">
        dsquery<input type="checkbox" value="22" name="mycheckbox">
        net_config<input type="checkbox" value="23" name="mycheckbox">
        csvde<input type="checkbox" value="24" name="mycheckbox">
        net_share<input type="checkbox" value="25" name="mycheckbox">
        quser<input type="checkbox" value="26" name="mycheckbox">
        net_session<input type="checkbox" value="27" name="mycheckbox">
        query<input type="checkbox" value="28" name="mycheckbox">
        tracert<input type="checkbox" value="29" name="mycheckbox">
        nltest<input type="checkbox" value="30" name="mycheckbox">
        at<input type="checkbox" value="31" name="mycheckbox">
        move<input type="checkbox" value="32" name="mycheckbox">
        schtasks<input type="checkbox" value="33" name="mycheckbox">
        copy<input type="checkbox" value="34" name="mycheckbox">
        ren<input type="checkbox" value="35" name="mycheckbox">
        reg<input type="checkbox" value="36" name="mycheckbox">
        wmic<input type="checkbox" value="37" name="mycheckbox">
        powershell<input type="checkbox" value="38" name="mycheckbox">
        md<input type="checkbox" value="39" name="mycheckbox">
        cscript<input type="checkbox" value="40" name="mycheckbox">
        runas<input type="checkbox" value="41" name="mycheckbox">
        sc<input type="checkbox" value="42" name="mycheckbox">
        netsh<input type="checkbox" value="43" name="mycheckbox">
        wusa<input type="checkbox" value="44" name="mycheckbox">
        icacls<input type="checkbox" value="45" name="mycheckbox">
        del<input type="checkbox" value="46" name="mycheckbox">
        taskkill<input type="checkbox" value="47" name="mycheckbox">
        klist<input type="checkbox" value="48" name="mycheckbox">
        wevtutil<input type="checkbox" value="49" name="mycheckbox">
        rd<input type="checkbox" value="50" name="mycheckbox">
        
        <input type="submit">
		
    </form>
</body>
</html>
